<br>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <br>
        </div>
    </div>
</div>
<footer class="footer mt-auto py-3">
    <div class="container">
        <span class="text-muted">&copy; 2020 JimRid.inc </span>
    </div>
</footer>