<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-warning alert-dismissible fade show custom-alert" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong>Successfully bought products</strong> 
        </div>

        {{!-- <div class="alert alert-info" role="alert">
            <strong>Click</strong> <a href="/" class="alert-link">here</a> to go back home
        </div> --}}
        <br>
        <p>Payment successful.</p>
        <p>Total amount paid : ${{ total }}.00 </p>
        <hr>
        <br>
        <p>Click <a href="/">here</a>  to go back home</p>
    </div>
</div>


